aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cssselect==1.0.3
fake-useragent==0.1.11
Flask==1.0.2
idna==2.7
idna-ssl==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
multidict==4.5.2
pyquery==1.4.0
redis==3.0.1
requests==2.20.1
selenium==3.141.0
urllib3==1.26.5
Werkzeug==0.14.1
yarl==1.2.6
